/*****************************/
:root {
  --black: #150605;
  --red: #ea453c;
  --pink: #f47b6e;
  --light-blue: #effbfe;
  --blue: #ace6ec;
}

html,
body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
}
*,
*:focus,
*:active,
*:hover,
*:visited,
*:focus-visible,
*:focus-within,
*:focus:not(:focus-visible),
*::before,
*::after {
  /* box-shadow: none;
  outline: 0;
  outline: 0 !important;
  border: 0; 
 box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  outline: 0.1vw transparent;
  border: 0.1vw solid transparent; */
  outline: 0;
  border: 0;
  box-shadow: none;
}

/****************/
/* a:active,
a:focus,
a:hover {
  outline: none;
}

input,
textarea {
  outline: none;
}
input:active,
textarea:active {
  outline: none;
}
:hover {
  outline: none;
}
:focus {
  outline: none;
}
textarea {
  resize: none;
}
textarea {
  resize: vertical;
}
textarea {
  resize: horizontal;
}

button:active,
button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
} */

/****************************************/
.react-icons {
  vertical-align: middle;
  height: 2.5rem;
  width: 2.5rem;
  outline: 0;
}
/* .react-icons:focus {
  outline: 0 !important;
  box-shadow: none;
} */

main.photos {
  padding: 10px;
  display: grid;
  grid-gap: 2px;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-flow: dense;
}

main.cart-page {
  padding: 10px;
}

.cart-page > h1 {
  text-align: center;
}

.cart-page .total-cost {
  text-align: right;
  font-size: 1.3em;
}

.cart-page div.order-button {
  display: flex;
  justify-content: center;
}

div.order-button > button {
  border-color: var(--black);
  cursor: pointer;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}

div.order-button > button:focus {
  outline: none;
}

div.order-button > button:disabled {
  border-color: lightgray;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.cart-item img {
  margin-right: auto;
  margin-left: 10px;
}

img.image-grid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  position: relative;
}

.favorite,
.favorite-fill {
  color: var(--red);
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.favorite-fill {
  fill: var(--red);
  opacity: 0.7;
}

.ri-delete-bin-line,
.ri-delete-bin-fill {
  font-size: 1.3em;
  cursor: pointer;
}

.add,
.full {
  color: var(--blue);
  /* font-size: 1.2rem; */
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--pink);
  color: var(--light-blue);
  padding: 1rem 2rem;
  -webkit-box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
  -moz-box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
  box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--light-blue);
}
a:hover {
  color: var(--light-blue);
}
a:active {
  color: var(--light-blue);
}
